# Output files & directories

.nextflow*
work/
results/
report-*
trace-*
.DS_Store
*.pyc
null/

# Pixi

.pixi
*.egg-info

# Input data + exceptions

data/genome/*
!data/genome/README.md
data/reads/*
!data/reads/README.md

# Local
TEMP_STORE/*
