// Basic settings

	resume = true
	outputDir = 'results'

// Global default params

	params {

		// General

			help = null
			account = null
			email_report = false
			email = null

		// Inputs

			samplesheet = "${projectDir}/data/samplesheet.csv"
			fasta = "${projectDir}/data/genome/genome.fa"

		// Processes

			// Extract tags

				fastq_tags_m = 3
				fastq_tags_s = 4

			// Deduplication

				min_reads_in_bundle = 1

			// Coverage

				min_duplex_mapq = 0
				contig_exclude = ""
				contig_include = ""
				contig_larger_than = 0

			// Job partitioning

				jobs = 10
				coverage_exclude = 0
				bed_to_exclude = ""

			// DSA

				snp_bed = ""
				noise_bed = ""
				min_duplex_depth = 2
				min_normal_base_quality = 30

			// Variant calling

				min_as_xs = 50
				min_matched_normal_reads = 0
				clips_fraction = 0.02
				consensus_fraction = 0.9
				indel_fraction = 1.0
				min_cycle_number = 8
				max_mismatches = 3
				proper_pairs_fraction = 0
				min_consensus_base_quality = 45
				post_trim_read_length = 144
				max_normal_vaf = 0.01
				max_cycle_number = 8
				min_normal_coverage = 15

			// Indel calling

				indel_min_bundle_reads = 2
				trim_3 = 136
				trim_5 = 8

			// Post processing

				tri_nuc = ""

	}

// Bash options

	process.shell = [
		"bash",
		"-C",			// No clobber - prevent output redirection from overwriting files.
		"-e",			// Exit if a tool returns a non-zero status/exit code
		"-u",			// Treat unset variables and parameters as an error
		"-o",			// Returns the status of the last command to exit..
		"pipefail"		//   ..with a non-zero status or zero if all successfully execute
	]

// Basic profiles

	profiles {

		debug {
			dumpHashes              = true
			process.beforeScript    = 'echo $HOSTNAME'
			cleanup                 = false
			nextflow.enable.configProcessNamesValidation = true
		}

		apptainer {
			apptainer.enabled       = true
			apptainer.autoMounts    = true
			apptainer.cacheDir      = "work/apptainer"
			apptainer.runOptions    = '--bind $HOME'
		}

		singularity {
			singularity.enabled     = true
			singularity.autoMounts  = true
			singularity.cacheDir    = "work/singularity"
		}

	}

// Packaged resource configs

	includeConfig 'conf/profiles.config'

// Modules config

	includeConfig 'conf/modules.config'
