[project]
authors = ["CormacKinsella <27350062+CormacKinsella@users.noreply.github.com>"]
channels = ["conda-forge", "bioconda"]
description = "NanoSeq base dependencies"
name = "NanoSeq pixi base"
platforms = ["linux-64"]
version = "0.1.2"

[system-requirements]
linux="3.10"

[tasks]
dag = { cmd = "nextflow main.nf -preview -with-dag flowchart.png" }
fakeTest = { cmd = "nextflow main.nf -profile standard,apptainer --samplesheet data/samplesheet_fake_data_mixed_inputs.csv --fasta data/genome/genome.fa" }
test = { cmd = "nextflow main.nf -profile standard,apptainer --samplesheet data/samplesheet_actual_data_fastq_only.csv --fasta data/genome/NC_037638.1_subset.fa" }

[dependencies]
nextflow=">=24.10.4"
apptainer=">=1.3.6"
graphviz=">=12.2.1"
