/* 
----------------------------------------------------------------------------------------
Container configuration
----------------------------------------------------------------------------------------
*/

profiles {
	apptainer {
		apptainer.enabled = true
		apptainer.autoMounts = true
		apptainer.cacheDir = "work/apptainer"
		apptainer.runOptions = '--bind $HOME' // After 23.07.0-edge $HOME not mounted by default
	}
}
