/*
----------------------------------------------------------------------------------------
Config for module level options
----------------------------------------------------------------------------------------
*/

process {

	withName: 'PARTITION' {

		// If coverage_exclude is 0, no exclusion, else use provided value

			ext.args = { params.coverage_exclude != 0 ? "--excludeCov ${params.coverage_exclude}" : '' }

		// If an exclusion BED file is provided, existence is checked in initialisation, and argument is provided here

			ext.args2 = { params.bed_to_exclude ? "--excludeBED ${params.bed_to_exclude}" : '' }

	}

	withName: 'DSA' {

		// If SNP BED is provided as a full path, file existence (+index) is checked in initialisation, and argument is provided here

			ext.args = { params.snp_bed ? "--snp ${params.snp_bed}" : '' }

		// If noise BED is provided as a full path, file existence (+index) is checked in initialisation, and argument is provided here

			ext.args2 = { params.noise_bed ? "--mask ${params.noise_bed}" : '' }

	}

}
