/* 
----------------------------------------------------------------------------------------
Default parameter configuration
----------------------------------------------------------------------------------------
*/

// General

	params.help = null
	params.account = params.account ?: null // SLURM billing account
	params.email = null
	params.email_on_fail = null

// Inputs

	params.samplesheet = "${projectDir}/data/samplesheet.csv"
	params.fasta = "${projectDir}/data/genome/genome.fa"








/*
----------------------------------------------------------------------------------------

// TEMP STORE OF ORIGINAL PARAMS

	// params.outDir = baseDir

// preprocessing and mapping params
	//params.fastq_tags_m = 3
	//params.fastq_tags_s = 4
	//params.nanoseq_dedup_m = 1 # bug found by ao7. It was not used later though.

// *** NanoSeq parameters
params.jobs = 100

----------------------------------------------------------------------------------------
*/