/* 
----------------------------------------------------------------------------------------
Default parameter configuration
----------------------------------------------------------------------------------------
*/

// General params

	params.help = null
	params.samplesheet = "./data/samplesheet.csv"
