/* 
----------------------------------------------------------------------------------------
Default parameter configuration
----------------------------------------------------------------------------------------
*/

// General

	params.help = null
	params.account = params.account ?: null // SLURM billing account
	params.email = null
	params.email_on_fail = null

// Inputs

	params.samplesheet = "${projectDir}/data/samplesheet.csv"
	params.fasta = "${projectDir}/data/genome/genome.fa"

// Processes

	// Extract tags from FASTQ files. Sonicated libraries: -m 3 -s 2. HpyCH4V/AluI libraries: -m 3 -s 4."

		params.fastq_tags_m = 3
		params.fastq_tags_s = 4

	// Deduplication

		params.minReadsInBundle = 1

	// Coverage

		params.min_duplex_mapq = 0 // Minimum mapQ to include a duplex read
		params.contig_exclude = "" // List of contigs to exclude, comma separated, %% acts as a wild card (MT,GL%%,NC_%%,hs37d5)
		params.contig_include = "" // List of contigs to include, comma separated, %% acts as a wild card
		params.contig_larger_than = 0 // Only include contigs larger than this size

	// Job partitioning

		params.jobs = 10
		params.coverage_exclude = 0 // Exclude regions with coverage values higher than this (0 = no exclusion)
		params.bed_to_exclude = "" // BED file with regions to exclude, empty string if no exclusion

	// DSA

		params.snp_bed = "" // Full path to BED of sorted SNPs, empty string if none
		params.noise_bed = "" // Full path to noise BED to be masked, empty string if none
		params.minimum_duplex_depth = 2 // Minimum duplex depth
		params.minimum_normal_base_quality = 30 // Minimum base quality for normal
